@model List<Usuario>
@{
    ViewData["Title"] = "FrmUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">

}


<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Usuarios</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-success" href="@Url.Action("FrmNuevoUsuario","Usuario")"><i class="fas fa-plus-circle"></i> Nuevo Usuario</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="form-check">
                    <!-- Campo de búsqueda -->
                    <div class="col-md-4">
                        <input class="form-check-input" type="checkbox" id="filtroDescripcionCheck">
                        <label class="form-check-label" for="filtroDescripcionCheck">
                            Filtrar solo por Rol
                        </label>
                    </div>
                </div>
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>IdUsuario</th>
                            <th>CodigoTrabajador</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Telefono/Celular</th>
                            <th>Puesto</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var usuario in Model){
                            <tr>

                                <td>@usuario.IdUsuario</td>
                                <td>@usuario.CodigoTrabajador</td>
                                <td>@usuario.Nombre</td>
                                <td>@usuario.Email</td>
                                <td>@usuario.TelefonoCelular</td>
                                <td>@usuario.Puesto</td>
                                <td>@usuario.IdRolNavigation?.Nombre</td>
                                <td>
                                    <div>
                                        <a asp-controller="Usuario" asp-action="FrmEditarUsuario" asp-route-id="@usuario.IdUsuario" class="btn btn-sm btn-light btn-active-light-primary me-2">
                                            Editar
                                        </a>
                                        <a class="btn btn-sm btn-danger" onclick="EliminarUsuario(@usuario.IdUsuario)">
                                            Eliminar
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/js/Usuario/FrmUsuario.js"></script>

}